<h1>
    Coucou!
</h1>
<ng-container *ngIf="(nextTaskConditions.length!==0); else noCondition" >
    <ul>
        <li *ngFor="let item of nextTaskConditions">
          Task: {{item.nameTask}}
          <p>Prerequisite:</p>
            <ng-container *ngIf="!(item.conditions.length===0); else noPrerequisite" >
                <ul>
                    <li *ngFor="let condition of item.conditions">
                        <p>{{condition.name}}</p>
                        <label>
                            <input type="checkbox" (change)="onCheckboxChange(condition, $event)" />
                            {{condition.choice}}
                        </label>
                    </li>
                </ul>
            </ng-container>
            <ng-template #noPrerequisite>
                <p> There is no prerequisite for this task </p>
            </ng-template>
        </li>
    </ul>
</ng-container>
<ng-template #noCondition>
    <p> There is no next task </p>
</ng-template>
