<ng-container *ngIf="(nextTaskConditions.length!==0); else noCondition" >
    <div class="center">
        <form class="example-form" (ngSubmit)="saveData()" [formGroup]="conditionForm">
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <mat-label>{{'actor.email' | translate}}</mat-label>
                            <input matInput formControlName="dataValue" [errorStateMatcher]="matcher">
                            <mat-error *ngIf="loginForm.controls.email.hasError('required')">
                                {{'validator.required.email' | translate}}
                            </mat-error>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <mat-label>{{'actor.password' | translate}}</mat-label>
                            <input matInput formControlName="password" [errorStateMatcher]="matcher" type="password">
                            <mat-error *ngIf="loginForm.controls.password.hasError('required')">
                                {{'validator.required.password' | translate}}
                            </mat-error>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
            <p>
                <button mat-stroked-button type="submit" [disabled]="!loginForm.valid">{{'button.login' | translate}}</button>
            </p>
        </form>
    </div>


    <ul>
        <li *ngFor="let item of nextTaskConditions">
          Task: {{item.nameTask}}
          <p>Prerequisite:</p>
            <ng-container *ngIf="!(item.conditions.length===0); else noPrerequisite" >
                <ul>
                    <li *ngFor="let condition of item.conditions">
                        <p>{{condition.name}}</p>
                        <label>
                            <input type="checkbox" [(ngModel)]="condition.isChecked" 
                                (click)="onCheckboxChange($event, condition.isChecked, condition.idUnique)" />
                            {{condition.choice}}
                        </label>
                    </li>
                </ul>
            </ng-container>
            <ng-template #noPrerequisite>
                <p> There is no prerequisite for this task </p>
            </ng-template>
        </li>
    </ul>
</ng-container>
<ng-template #noCondition>
    <p> There is no next task </p>
</ng-template>
